@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --black: #000;
  --white: #fff;
  --grey: #959895;
  --background: #ddcbba;
  --primary: #ea6a12;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Libre Franklin", sans-serif;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: .4rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: .5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
